
{% block content %}
	<script>
		window.onload = function(){
			const id = document.getElementById('top-page');
			if (id != null) {
				alert('not null'); // should never fire as only fragment is loaded via htmx not document
			} else {
				window.location.replace("http://127.0.0.1:8000/");
			}
		
		}
	</script>
	<div class='row'>
		<div class='col text-center'>
			<h5 class='fishbay-top-header'>{{ brand.name }}</h5>
		</div>
	</div>
	{% for profile in profiles %}
	<div class='row'>
		<div class='d-flex justify-content-start col-10 ml-5'>
			<div class=''>
				<table class='table table-info table-bordered border-primary'>
					<thead>
						<tr>
							<td colspan='6'>{{ profile.category }}
								<button class='btn tt text-light' title='Open profile detail page'
									hx-get="{% url 'searchprofile:profile_detail' profile.pk %}"
									hx-target='#newcontent'
									hx-swap='innerHTML'
									hx-push-url='true'
									hx-trigger='click'>
									<i class="fa-solid fa-clipboard fa-xl"></i>
								</button>
							</td>
						</tr>
						<tr>
							<th scope='col'>Search</th>
							<th scope='col'>Ratio</th>
							<th scope='col'>Sold</th>
							<th scope='col'>Avg Price</th>
							<th scope='col'>Available</th>
							<th scope='col'>Avg Price</th>
						</tr>
						{% if profile.results.count > 0 %}
							</thead>
							{% for result in profile.results.all %}
								<tr>
									<td class='text-nowrap'>{{ result.heading }}<span class='fst-italic'>{{ result.keywords }}</span></td>
									<td>{{ result.ratio }}</td>
									<td>{{ result.sold }}</td>
									<td>${{ result.avg_sold_price|floatformat:"2g" }}</td>
									<td>{{ result.forsale }}</td>
									<td>${{result.avg_forsale_price|floatformat:"2g" }}</td>
								</tr>	
							{% endfor %}
							</table>
						{% else %}
							<tr>
								<td colspan='6'>You haven't done any searches for this profile yet.</td>
							</tr>
						</thead>
						</table>
						{% endif %}
			</div>
		</div>
	</div>
	{% endfor %}
{% endblock %}
