{% block content %}
{% block search-form %}
<!-- check if browser reload button was used, if so then redirect to home page -->
<script>
	window.onload = function(){
		const id = document.getElementById('top-page');
		if (id != null) {
			alert('not null'); // should never fire as only fragment is loaded via htmx not document
		} else {
			window.location.replace("http://127.0.0.1:8000/");
		}
	}
	function growSize(event) {
		var el = event.currentTarget
		$(el).attr("size", "4");
	}
	function shrinkSize(event){
		var el = event.currentTarget
		$(el).attr("size", "4");
	}
</script>
<div class='container d-flex justify-content-center' id='form-container'>
	<div class="card mt-5 w-100">
		<div class="card-body">
			<div class='row'>
				<div class='col text-center'>
						<h5>Profile for:</h5> 
					<div id='tester'>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='col text-center mb-2'>
					<h5 class='text-dark'>{{ profile }}</h5>
				</div>
			</div>
			<div class='row'>
				<div class='col fw-bold fs-5 text-center mb-1'>
					Perform New Search
				</div>
			</div>
			<div class='row'>
				<div class='col text-center'>
					Select item specifics
				</div>
			</div>
			<div class='row'>
				<div class='col text-center mb-2'>
					<form>
						<div class='container'>
							<div class='row'>
								<div class='col'>
									<div class='d-flex flex-wrap'>
									{% for field in form %}
										<div class='mb-2 mr-2' id='{{ field.name }}'>
											{% if field.label_tag == 'Size' %}
													{{ form.size.label }} {{ form.size }}
											{% else %}
												{{ field.label_tag }} {{ field }}
											{% endif %}
										</div>
									{% endfor %}
									</div>
								</div>
							</div>
							<div class='row'>
								<div class='col text-center'>
									<button class='btn btn-primary btn-sm'
										hx-indicator='#spinner'
										hx-post="{% url 'searchprofile:create_search' %}" 
										hx-target='#form-container'
										hx-swap='innerHTML' 
										hx-trigger='click'>
										Create Search
									</button>
									<div class="spinner-border htmx-indicator" role="status" id='spinner'>
  									<span class="sr-only">Loading...</span>
									</div>
					  		</div>
					  	</div>
					  </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
<div class='container d-flex justify-content-center' id='search-container' 
													hx-trigger='result_added from:body'
													hx-get="{% url 'searchprofile:update_result_list' profile.pk %}"
													hx-target='#results-container'
													hx-swap='outerHTML'>
	<div class="card mt-5 w-100">
		<div class="card-body">
			<div id='notice-block'>
				{% block notice %}
					{% if notice %}
						<div class='text-success text-center'>
						<h6>{{ notice }}</h6>
						</div>
					{% endif %}
				{% endblock %}
			</div>
			{% block result-list %}
			<div class='d-flex justify-content-center flex-wrap' id='results-container'
													hx-trigger='check_notice from:body'
							 						hx-get="{% url 'searchprofile:check_notice' %}"
							 						hx-target='#notice-block'
							 						hx-swap='innerHTML'>
																													
				{% if results.count > 0 %}
					{% for result in results %}
						<div class='card' id='result{{ result.pk }}'>
							<div class='card-header text-center text-white bg-primary lh-sm'>
									{{ result.heading }}
									<div class='text-center fst-italic'>{{ result.keywords|default_if_none:"" }}</div>
							</div>
							<div class='card-body text-center text-dark bg-info'>
								<p class='card-text'>Sale through ratio: {{ result.ratio }}</p>
								<p class='card-text'>For Sale: {{ result.forsale }}  Avg-Price: ${{ result.avg_forsale_price|floatformat:"2g" }}</p>
								<p class='card-text'>Sold: {{ result.sold }}  Avg-Price: ${{ result.avg_sold_price|floatformat:"2g" }}</p>
								<p class='card-text text-left'>Last Updated: {{ result.last_updated }}</p>
							</div>
							<div class='card-footer bg-primary'>
								<button class="btn tt text-white" title='Refresh with current results for these specifics' 
																						hx-trigger='click'
											 											hx-get="{% url 'searchprofile:update_search' result.pk %}"
											 											hx-target='#result{{ result.pk }}'
											 											hx-swap='outerHTML'
											 											hx-indicator='#spinner'>
											 											<i class="fa-solid fa-rotate"></i>
								</button>
								<button class='btn tt text-white' title='Delete this search' 
																								hx-trigger='click'
													 											hx-get="{% url 'searchprofile:delete_search' result.pk %}"
													 											hx-target='#result{{ result.pk }}'
													 											hx-swap='delete'
													 											hx-confirm='Please confirm you wish to delete.'
													 											hx-indicator='#spinner'>
													 											<i class="fa-solid fa-trash-can fa-xl"></i>
								</button>
								<a href='{{ result.search_url }}' target='_blank' class='btn text-white tt' title='See search on Ebay page'>
									<i class="fa-brands fa-ebay fa-2xl"></i>
								</a>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<div>
						You haven't done any searches for this profile yet.
					</div>
				{% endif %}
			</div>
			{% endblock %}
		</div>
	</div>
</div>

{% endblock %}