{% extends 'index.htmx' %}

{% block content %}
<div class='d-flex justify-content-center cols-12'>
    <div class="card mt-5 fishbay-card cols-12">
        <div class="card-body">
            <p>Introducing Myfishbay: The Game Changer for Reselling Success

            <p>In the reselling world, a fundamental adage holds true: Your profits are not made when you sell your inventory; they are made when you buy it. Success lies in knowing which items to buy and at what price to secure your target profit. This is where Myfishbay comes in, revolutionizing the way you conduct your research.</p>

            <p>At Myfishbay, we believe in the power of informed decisions. Our philosophy centers around identifying profitable items by meticulously analyzing sell-through rates, current market trends, historical market data, and market cap for each item. Our platform serves as a powerful research tool to assist and organize your investigative process. While Myfishbay is designed to augment your research, it is essential to remember that it empowers you but does not conduct the research on your behalf.</p>

            <p>Traditionally, on platforms like eBay, research involves sifting through products with their variable item specifics and painstakingly studying current available and recently sold pages. Myfishbay significantly streamlines this process by addressing the two most significant hurdles in traditional research methods - speed and lack of record-keeping.</p>

            <p>Gone are the days of waiting for pages to reload every time you adjust or add an item specific in your search. With Myfishbay, you can select all the item specifics you wish to search for, and with a simple submission to eBay, within seconds, you gain valuable insights. You'll get information on the number of items available and sold in the last three months, along with calculated average prices for both available and sold items. Moreover, our platform provides a crucial "sell-through" rate - the ratio of sold items to available items - helping you gauge the item's demand.</p>

            <p>In the reselling world, experience can be paramount, as it can take years of repetitions to memorize all the metrics for even a single category. Myfishbay eliminates the need for redundant work by saving your research data. How many times have you repeated the same search for an item throughout your reselling career? With Myfishbay, you have all your saved research at your fingertips, allowing you to swiftly access critical information while you're in the field, whether you're at a thrift store or a flea market, empowering you to make smart buying decisions.</p>

            <p>If you're ready to elevate your sourcing game to the next level, click here to discover how Myfishbay can transform your reselling journey. Embrace the power of informed reselling and unlock your potential for greater success today!</p>

        </div>
    </div>
</div>
{% endblock %}
