{% extends 'index.htmx' %}

{% block content %}
<div class='d-flex justify-content-center'>
    <div class="card w-50 mt-5">
        <div class="card-body" hx-trigger='load, check_notice from:body'
                                hx-get="{% url 'searchprofile:check_notice' %}"
                                hx-target='#notice-block'
                                hx-swap='innerHTML'>
            <div id='notice-block'>
                {% block notice %}
                    {% if notice %}
                        <div class='text-success text-center'>
                            <h6>{{ notice }}</h6>
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
            <div class='row'>
                <div class='col text-center'>
                        <h5>Account Information - {{user}}:</h5>
                    <div id='tester'>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col'>
                    <div>Status: {{user.get_status_display}}</div>
                </div>
            </div>
            <div class='row'>
                <div class='col'>
                    <div> Subscription Start Date: {{user.sub_start}}</div>
                </div>
            </div>
            <div class='row'>
                <div class='col'>
                    <div> Subscription End Date: {{user.sub_expire}}</div>
                </div>
            </div>
            <div class='row'>
                <div class='col'>
                    <div> Auto Renew: {{user.sub_auto_renew}}</div>
                </div>
            </div>
            <div class='row'>
                <div class='col mt-2'>
                    {% if 1 != 1 %}
                        <div><a href='/account/go_stripe_portal/'> Manage Subsiption </a></div>
                    {% else %}
                        <div><a href='#'> Manage Subsiption </a> -- Diabled for Beta/Unsubscribed Accounts</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}