{% extends 'index.htmx' %}

{% block content %}
<div class='d-flex justify-content-center'>
    <div class="card mt-5 fishbay-card">
        <div class="card-body">
            <div class='d-flex-column'>
                <h1 class="h4 text-gray-900 mb-4 text-center">Register Acocunt</h1>
                {% for message in messages %}
                    <div class='text-center'>{{ message }}</div>
                {% endfor %}
                {% if form.non_field_errors %}
                    <div class='alert alert-danger'>{{ form.non_field_errors }}</div>
                {% endif %}
               <form class="user">
                {% csrf_token %}
                <div class="form-group">
                    <div class='text-center alert-danger'>{{ form.email.errors }}</div>
                    <input type="email" class="form-control form-control-user"
                                                name="email" placeholder="Enter Email Address...">
                </div>
                <div class="form-group">
                    <div class='text-center alert-danger'>{{ form.password1.errors }}</div>
                    <input type="password" class="form-control form-control-user"
                                                name="password1" placeholder="Password">
                </div>
                <div class="form-group">
                    <div class='text-center alert-danger'>{{ form.password2.errors }}</div>
                    <input type="password" class="form-control form-control-user"
                                                name="password2" placeholder="Re-enter Password">
                </div>
                <button class="btn btn-primary btn-user btn-block" hx-post="{% url 'account:register' %}" hx-target='body'>Create Account</button>
                <hr>
                <div class="text-center">
                    <a class="small" href="{% url 'account:loginpage' %}">Already have an account?</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
