{% extends 'index.htmx' %}

{% block content %}
<div class='d-flex justify-content-center'>
    <div class="card w-50 mt-5">
        <div class="card-body">
            <div class='d-flex-column'>
                <h1 class="h4 text-gray-900 mb-4 text-center">Request Password Reset</h1>
                {% for message in messages %}
                    <div class='text-center'>{{ message }}</div>
                {% endfor %}
               <form method='post'>
                {% csrf_token %}
                <div class='mb-2'>Need to reset your password? Enter your email below and instructions will be sent on setting a new one.</div>
                <div class="text-center">
                   {{form}}
                </div>
                <div class='text-center'>
                <button class="btn btn-primary">Send Email</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}