{% extends 'index.htmx' %}

{% block content %}
<div class='d-flex justify-content-center'>
    <div class="card w-50 mt-5">
        <div class="card-body">
            <div class='mb-3'> Select Below:</br>Note: Paid subscriptions are not being accepted at this time.(Still working on the pricing.)</div>
            <form enctype='multipart/form-data' method='post' role='product_page'>
                {% csrf_token %}
                {{ form }}
                {% if user.is_authenticated %}
                    {% if user.status == 'BT' %}
                        <h5>No paid subscription available. Go to your <a href="{% url 'account:profile' %}">Account</a> Page</h5>
                    {% elif user.strip_sub_id != '' %}
                        <h5>You have already subscribed. Go to your <a href="{% url 'account:profile' %}">Account</a> Page</h5>
                    {% else %}
                        <button type='submit' class='btn btn-success' href='{% url "account:subscription_page" %}'> Submit </button>
                    {% endif %}
                {% else %}
                    <h5><a class="small" href="{% url 'account:register' %}">Register</a> or <a href="{% url 'account:loginpage' %}">Login</a> to enable sign up.</h5>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}