{% load static %}
<!DocType html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
	<title>{% block title %}Catagories{% endblock %}</title>
</head>
<body>
	<div class='container-fluid'>
		<div class='header'>
			<h2>Title</h2>
			Messages:
			{% for message in messages %}
			{{ message }} <
			{% endfor %}
		</div>
		<div class='content'>
			<div class='row'>
				<div class='col-3 sidebar'>
					<h2>Menu</h2>
					{% block menu %}
					{% endblock %}
				</div>
				<div class='col-9 main-content'>
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" 
	integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0="
  	crossorigin="anonymous">
  	</script>
  	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
